#lateral-menu {
    .nav {
        ul.submenu {
            > li {
                > a {
                    &:hover, &:focus{
                        color: #D2E7E3;
                        .caret {
                            border-top-color: #D2E7E3;
                        }
                    }
                }
                &.active {
                    > a {
                        color: #D2E7E3;
                        .caret {
                            border-top-color: #D2E7E3;
                        }
                        &:hover, &:focus{
                            color: #D2E7E3;
                            .caret {
                                border-top-color: #D2E7E3;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    .icon-portfolio {
        background-image: url(../images/treetop/portfolio.png);
    }

    .icon-easy-setup {
        background-image: url(../images/treetop/easy-setup.png);
    }

    .icon-payper-click-setup {
        background-image: url(../images/treetop/payper-click-setup.png);
    }

    .icon-social-connect {
        background-image: url(../images/treetop/social-connect.png);
    }
}

div {
    .socialicon-templatedesign-16 {
        background-image: url(../images/treetop/jssocialicons/socialicons-templatedesign-16.png) !important;
    }

    .socialicon-templatedesign-24 {
        background-image: url(../images/treetop/jssocialicons/socialicons-templatedesign-24.png) !important;
    }

    .socialicon-templatedesign-32 {
        background-image: url(../images/treetop/jssocialicons/socialicons-templatedesign-32.png) !important;
    }

    .socialicon-templatedesign-48 {
        background-image: url(../images/treetop/jssocialicons/socialicons-templatedesign-48.png) !important;
    }

    .socialicon-templatedesign-64 {
        background-image: url(../images/treetop/jssocialicons/socialicons-templatedesign-64.png) !important;
    }
}