blockquote {
    background-image: url(../images/tangerine/blockquote-left.png);
    p {
        background-image: url(../images/tangerine/blockquote-right.png);
    }

    &.pull-right {
        background-image: url(../images/tangerine/blockquote-right.png);

        p {
            background-image: url(../images/tangerine/blockquote-left.png);
        }
    }
}

#lateral-menu {
    .nav {
        ul.submenu {
            > li {
                > a {
                    &:hover, &:focus{
                        color: #E4E2D4;
                        .caret {
                            border-top-color: #E4E2D4;
                        }
                    }
                }
                &.active {
                    > a {
                        color: #E4E2D4;
                        .caret {
                            border-top-color: #E4E2D4;
                        }
                        &:hover, &:focus{
                            color: #E4E2D4;
                            .caret {
                                border-top-color: #E4E2D4;
                            }
                        }
                    }
                }
            }
        }
    }
}

body {
    .icon-portfolio {
        background-image: url(../images/tangerine/portfolio.png);
    }

    .icon-easy-setup {
        background-image: url(../images/tangerine/easy-setup.png);
    }

    .icon-payper-click-setup {
        background-image: url(../images/tangerine/payper-click-setup.png);
    }

    .icon-social-connect {
        background-image: url(../images/tangerine/social-connect.png);
    }
}

div {
    .socialicon-templatedesign-16 {
        background-image: url(../images/tangerine/jssocialicons/socialicons-templatedesign-16.png) !important;
    }

    .socialicon-templatedesign-24 {
        background-image: url(../images/tangerine/jssocialicons/socialicons-templatedesign-24.png) !important;
    }

    .socialicon-templatedesign-32 {
        background-image: url(../images/tangerine/jssocialicons/socialicons-templatedesign-32.png) !important;
    }

    .socialicon-templatedesign-48 {
        background-image: url(../images/tangerine/jssocialicons/socialicons-templatedesign-48.png) !important;
    }

    .socialicon-templatedesign-64 {
        background-image: url(../images/tangerine/jssocialicons/socialicons-templatedesign-64.png) !important;
    }
}