body {
    .icon-portfolio {
        background-image: url(../images/marsala/portfolio.png);
    }

    .icon-easy-setup {
        background-image: url(../images/marsala/easy-setup.png);
    }

    .icon-payper-click-setup {
        background-image: url(../images/marsala/payper-click-setup.png);
    }

    .icon-social-connect {
        background-image: url(../images/marsala/social-connect.png);
    }
}

div {
    .socialicon-templatedesign-16 {
        background-image: url(../images/marsala/jssocialicons/socialicons-templatedesign-16.png) !important;
    }

    .socialicon-templatedesign-24 {
        background-image: url(../images/marsala/jssocialicons/socialicons-templatedesign-24.png) !important;
    }

    .socialicon-templatedesign-32 {
        background-image: url(../images/marsala/jssocialicons/socialicons-templatedesign-32.png) !important;
    }

    .socialicon-templatedesign-48 {
        background-image: url(../images/marsala/jssocialicons/socialicons-templatedesign-48.png) !important;
    }

    .socialicon-templatedesign-64 {
        background-image: url(../images/marsala/jssocialicons/socialicons-templatedesign-64.png) !important;
    }
}