
h1 {
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {font-weight: 300;}

.navbar {
    margin-bottom: 0;
    ul {
        &.navbar-inner {
            border-bottom: 4px double @color_two;
        }
    }
    .navbar-inner {
        .btn {
            &.btn-navbar {
                -webkit-border-radius: 0;
                border-radius: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                border: none;
                margin: 5px;
                span {
                    box-shadow: none;
                    background-color: @color_two;
                }
                &:hover, &:focus {
                    -webkit-border-radius: 0;
                    border-radius: 0;
                }
            }
        }
        box-shadow: none;
        padding-left: 0;
        padding-right: 0;
        border: none;
        .container, .container-fluid {
            border-bottom: 4px double @color_two;
            background-color: @color_one;
        }
        .nav, &.nav {
            li {
                a {
                    font-family: @sansFontFamily;
                    .caret {
                        display: none;
                    }
                }
            }
            > li {
                > a {
                    color: @color_two;
                    &:hover, &:focus {
                        background-color: @color_two;
                        color: @white;
                    }
                }
                &.deeper {
                    > a {
                        &:after {
                            content: '\f107';
                            font-family: FontAwesome;
                            margin-left: 5px;
                        }
                    }
                    &:hover, &:focus {
                        > a {
                            background-color: @color_two;
                            color: @white;
                            &:after {
                                content: '\f106';
                            }
                        }
                    }
                    .dropdown-menu {
                        border: none;
                        padding: 0;
                        > li {
                            &.deeper {
                                .dropdown-menu {
                                    -webkit-border-radius: 0;
                                    border-radius: 0;
                                }
                                &.dropdown-submenu {
                                    > a {
                                        &:after {
                                            content: '\f105';
                                            font-family: FontAwesome;
                                            float: none;
                                            margin: 0;
                                            border: none;
                                            display: inline-block;
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.active {
                    > a {
                        box-shadow: none;
                        color: @white;
                        background-color: @color_two;
                    }
                    &.dropdown {
                        > a {
                            color: @white;
                            background-color: @color_two;
                        }
                    }
                }
            }
        }
    }
    .nav {
        > li {
            > a {
                text-shadow: none;
            }
            >.dropdown-menu {
                &:after, &:before {
                    display: none;
                }
            }
        }
    }
    .brand {
        text-shadow: none;
        margin-left: 0;
    }
    &.navbar-inverse {
        ul {
            &.navbar-inner {
                border-bottom: none;
            }
        }
        .navbar-inner {
            .btn {
                &.btn-navbar {
                    span {
                        background-color: @white;
                    }
                }
            }
            background-color: @color_six;
            .container {
                background-color: transparent;
                border-bottom: none;
            }
            .nav, &.nav {
                li {
                    a {
                        color: @white;
                    }
                }
            }
        }
    }
}
.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    li {
        a {
            padding: 10px 10px;
        }
    }
}
// Tab menu
.nav-tabs {
    border-bottom: none;
    background-color: @color_two;
    &:before {
        height: 4px;
        border-top: 1px solid @color_two;
        width: 100%;
        background-color: @color_five;
    }
    &:after {
        height: 4px;
        border-bottom: 1px solid @color_two;
        background-color: @color_five;
        width: 100%;
    }
    > li {
        margin-bottom: 0;
        > a {
            color: white;
            border-radius: 0;
            -webkit-border-radius: 0;
            border: none;
            margin-right: 0;
            &:hover, &:focus {
                background-color: @color_four;
            }
        }
        > .dropdown-toggle {
            .caret {
                display: none;
            }
            &:hover, &:focus {
                &:after {
                    content: '\f106';
                }
            }
            .submenu {
                li {
                    a {
                        color: @white;
                    }
                }
            }
            &:after {
                content: '\f107';
                font-family: FontAwesome;
                margin-left: 5px;
            }
        }
        &.active {
            > a {
                color: @white;
                border: none;
                background-color: @color_four;
                &:hover, &:focus {
                    color: @white;
                    border: none;
                    background-color: @color_four;
                }
            }
        }
        &.deeper {
            .dropdown-menu {
                border-radius: 0;
                -webkit-border-radius: 0;
                padding: 0;
                margin: 0;
                .deeper {
                    > a {
                        &:after {
                            content: '\f105';
                            font-family: FontAwesome;
                            margin-left: 5px;
                            float: none;
                            margin: 0;
                            border: none;
                            display: inline-block;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        &:hover, &:focus {
            > .dropdown-toggle {
                &:after {
                    content: '\f106';
                }
            }
        }
        li {
            a {
                color: @white;
            }
        }
        > ul {
            &.submenu {
                .active {
                    > a {
                        color: @white;
                        background-color: @color_four;
                    }
                }
                .deeper {
                    .caret {
                        display: none;
                    }
                    > a {
                        &:after {
                            content: '\f107';
                            font-family: FontAwesome;
                            margin-left: 5px;
                        }
                    }
                    &:hover, &:focus {
                        > a {
                            &:after {
                                content: '\f106';
                            }
                        }
                    }
                }
                a {
                    &:hover, &:focus {
                        background-color: @color_four;
                    }
                }
            }
        }
    }
    dt {
        span {
            h3, p {
                margin: 0;
                a {
                    color: @white;
                    font-family: @sansFontFamily;
                    &:hover, &:focus {
                        background-color: @color_four;
                        text-decoration: none;
                    }
                }
            }
        }
        &.open {
            a {
                color: black;
                .caret {
                    border-top-color: black;
                }
                &:hover, &:focus {
                    color: black;
                    .caret {
                        border-top-color: black;
                    }
                }
            }
        }
    }
    .tabs {
        h3 {
            margin: 0;
            a {
                padding: 8px 20px;
                border-radius: 0;
                -webkit-border-radius: 0;
                border: none;
            }
        }
        &.open {
            h3 {
                a {
                    background-color: @color_four;
                    color: @white;
                }
            }
            p {
                a {
                    background-color: @color_four;
                    color: @white;
                }
            }
        }
        span {
            p {
                margin: 0;
                a {
                    padding: 8px 20px;
                    border-radius: 0;
                    -webkit-border-radius: 0;
                    border: none;
                }
            }
        }
    }
    &.nav-stacked {
        li {
            a {
                border: none;
            }
            &:first-child {
                a {
                    border-radius: 0;
                    -webkit-border-radius: 0;
                }
            }
            &:last-child {
                a {
                    border-radius: 0;
                    -webkit-border-radius: 0;
                }
            }
        }
    }
}

.nav-list > li > a, .nav-list .nav-header {
    text-shadow: none;
}

// Pagination
.counter {
    float: none;
}

// Buttons
a {
    outline: 0;
}

.btn {
    .box-shadow(none);
    .border-radius(100px);
    background-image: none;
    color: @white;
    text-shadow: none;
    padding-left: 20px;
    padding-right: 20px;

    &.btn-large {
        padding: 6px 35px;
    }

    &.btn-small {
        padding-left: 15px;
        padding-right: 15px;
    }

    &.btn-mini {
        padding-left: 10px;
        padding-right: 10px;
    }

    &:hover {
        color: @white;
    }

    &:focus {
        color: @color_two;
    }

    &.btn-primary {
        &:focus {
            color: @color_two;
        }
    }
    &.btn-info {
        &:focus {
            color: @btnInfoBackground;
        }
    }
    &.btn-success {
        &:focus {
            color: @btnSuccessBackground;
        }
    }
    &.btn-warning {
        &:focus {
            color: @btnWarningBackground;
        }
    }
    &.btn-danger {
        &:focus {
            color: @btnDangerBackground;
        }
    }
    &.btn-inverse {
        &:focus {
            color: @btnInverseBackground;
        }
    }

    &.btn-link {
        padding: 0;
        border: none;
    }
    &.dropdown-toggle {
        &:hover, &:active, &:focus {
            box-shadow: none;
            -webkit-box-shadow: none;
            color: @white;
        }
        .caret {
            display: none;
        }
        &:after {
            font-family: FontAwesome;
            content: '\f107 ';
        }
    }
}
.pagenav {
    .pagenav-next, .pagenav-prev {
        a {
            border-radius: 100px;
            background-image: none;
            box-shadow: none;
            -wekit-box-shadow: none;
            text-shadow: none;
            border-image: none;
            color: @color_two;
            background-color: transparent;
            border-color: @color_two;
            &:hover, &:focus {
                color: @white;
                background-color: @color_two;
            }
        }
    }
}
.btn-group {
    &.open {
        .dropdown-toggle {
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    > .btn {
        &:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            -webkit-border-bottom-right-radius: 10px;
            -webkit-border-top-right-radius: 10px;
        }
        &:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -webkit-border-top-left-radius: 10px;
        }
    }
    > .dropdown-toggle {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
    }
    &.btn-group-vertical {
        .btn {
            border-radius: 10px;
            -webkit-border-radius: 10px;
        }
    }
    .actions {
        &.dropdown-menu {
            >li {
                > a {
                    text-align: center;
                }
            }
        }
    }
}
blockquote {
    font-family: @serifFontFamily;
    font-size: @baseFontSize + 10;
    border-left: none;
    small {
        font-size: @baseFontSize;
        margin: 10px 0px;
    }
    p {
        display: inline-block;
        &:before {
            content: ' ';
            height: 26px;
            width: 26px;
            background-repeat: no-repeat;
            background-image: url(../images/blockquote-left.png);
            display: inline-block;
        }
        &:after {
            content: ' ';
            height: 26px;
            width: 26px;
            background-repeat: no-repeat;
            background-image: url(../images/blockquote-right.png);
            display: inline-block;
            position: relative;
            top: 17px;
        }
    }
    &.pull-right {
        border-right: none;
    }
}
.label {
    text-shadow: none;
    padding: 4px 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    &.label-info {
        background-color: @color_three;
    }
}
.badge {
    text-shadow: none;
}
// Main styles
.well {
    -webkit-box-shadow: none;
    box-shadow: none;
}
// Nav tabs
// Tables
table {
    thead {
        background-color: @color_two;
        color: @white;
        font-family: @serifFontFamily;
    }
    &.table {
        th {
            text-align: center;
            font-weight: normal;
            &:first-child {
                text-align: left;
            }
        }
    }
}

#header {
    margin-top: 20px;
    margin-bottom: 20px;

    .no-float-logo {
        #logo {
            float: none;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    }

}
.hero-unit {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: @textColor;
}
.breadcrumbs {
    .breadcrumb {
        background-color: transparent;
        border-radius: 0;
        -webkit-border-radius: 0;

        > li {
            text-shadow: none;
        }
    }
}

.breadcrumb {
    padding: 0;
}

dl.article-info {
    margin-bottom: 10px;

    .muted {
        color: @color_two;
    }

    dd:hover {
        background-color: transparent;
    }
}

#main-content {
    margin-bottom: 0px;
}

#main {
    .box-sizing(border-box);
    background-color: @color_five;
    padding: 50px 40px;
}

.sidebars_no_exist {
    .container-fluid  {
        #main {
            margin-left: -20px;
            margin-right: -20px;
            padding-left: 20px;
            padding-right: 20px;
            width: auto;
        }
    }
}

#sidebar1, #sidebar2 {
    padding-top: 10px;
}

.full-image {

    img {
        min-width: 100%;
    }

    + #main-content {
        #main {
            padding-bottom: 15px;
            padding-top: 15px;
        }
    }
}

.sidebars_exist {
    .full-image {
        + #main-content {
            #main {
                margin-top: -8%;
                padding: 50px 40px;
                position: relative;
                z-index: 3;
            }
        }
    }
}

.item-page {
    overflow: visible;
    .page-header:first-of-type {
        margin-bottom: 0;
    }
}

.page-header {
    padding: 0;
}

// Special for the overrides
.blog {
    margin: 0;
    .items-leading {
        float: left;

        [class*="leading-"] {
            margin-bottom: 15px;
        }

        .image-container {
            h2 {
                margin-bottom: -55px;
                margin-right: 40px;
                text-align: right;
                color: @color_five;
            }
            [class^="img-intro-"], .item-image {
                margin: 0px;
            }
        }
    }
    .items-row {
        .item {
            [class^="img-intro-"], .item-image{
                margin: 0;
            }
            .content-container {
                background-color: @color_six;
                padding: 20px;
                float: left;

                p {
                    color: @color_seven;
                    font-style: italic;
                    font-weight: 300;
                }

                h1, h2, h3, h4, h5, h6 {
                    margin: 0;

                    &:after {
                        content: '';
                        height: 2px;
                        width: 25%;
                        border: 1px solid @color_two;
                        display: inherit;
                        margin: 10px 0px;
                    }

                    a {
                        color: @color_five;
                    }
                }

                > h2 {
                    font-size: 35px;
                }
            }

            .img-intro-left,
            .img-intro-right,
            .item-image {
                width: 100%;
                img {
                    width: 100%;
                }
            }

            [class*="img-intro"], .item-image {
                + .content-container {
                    position: relative;
                    &:before {
                        border-bottom: 32px solid @color_six;
                        border-left: 20px solid transparent;
                        border-right: 20px solid transparent;
                        bottom: 100%;
                        content: '';
                        position: absolute;
                    }
                }
            }
        }
    }

    dl.article-info {
        color: @color_five;
    }

    #grid > .fluid(percentage(78.3334px/@gridRowWidth), 0);

    .category-desc {
        position: relative;
        margin-bottom: 15px;

        > img {
            width: 100%;

            + div {
                position: absolute;
                top: 10px;
                right: 20%;
            }
        }
    }
}
#grid-bottom {
    margin-bottom: 0;
    p {
        color: @white;

        &.lead {
            display: table;
            margin: 40px auto;
            font-size: @baseFontSize + 10;
            font-weight: lighter;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: @sansFontFamily;
        color: @white;
        font-weight: 300;

        small {
            font-weight: 300;
            font-size: @baseFontSize  + 2;
            color: @white;
        }
    }
}

#grid-top {
    margin-bottom: 10px;
    > div > [class*="module"] {
        margin-bottom: 20px;
    }
}


#grid-top2 {
    margin-bottom: 0;

    [class*="module"] {
        margin-bottom: 0;
    }
}

.module_ms2, .moduletable_ms2, .moduletext_ms2 {
    .box-sizing(border-box);
    .clearfix();
    background-color: @color_two;
    padding: 15px;

    p {
        color: @white;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: @sansFontFamily;
        color: @white;
        font-weight: 300;

        small {
            font-size: @baseFontSize  + 2;
        }
    }
}

#bottom-menu, #menu {
    margin-bottom: 0;
}
#footer {
    background-color: transparent;
    background-image: none;
    background: none;
    filter: none;

    .footer-content {
        padding: 10px 0px;
    }

    #bottom-menu {
        .nav {
            > li {
                >  a {
                    color: @color_one;

                    &:hover, &:focus {
                        background-color: transparent;
                        color: darken(@color_five, 5%);
                    }
                }
            }
        }
    }
}
// Typography styles
.tabs {
    .bs-docs-example {
        background-color: transparent;
        border: none;
        &:after {
            background-color: transparent;
            font-family: @sansFontFamily;
            color: @color_three;
            font-size: @baseFontSize;
            border: none;
            -webkit-border-radius: 0;
            border-radius: 0;
            padding: 0px 0px 5px 0px;
            border-bottom: 4px double @color_two;
        }
    }
}
// Module Styles
.module_ms1, .moduletable_ms1, .moduletext_ms1 {
    background-color: @color_six;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px;
    color: @color_one;

    h3 {
        margin: 0px 0px 10px 0px;
        font-size: 35px;
        line-height: 35px;

        &:after {
            content: '';
            height: 2px;
            width: 33%;
            border: 1px solid @color_two;
            display: inherit;
            margin-top: 10px;
        }
    }

    p {
        font-style: italic;
    }
}

.module_ms3, .moduletable_ms3, .moduletext_ms3 {
    p {
        font-size: @baseFontSize + 2;
    }
}

.module_ms4, .moduletable_ms4, .moduletext_ms4 {
    h3 {
        margin: 0px 0px 10px 0px;
        font-size: 35px;
        line-height: 35px;

        &:after {
            content: '';
            height: 2px;
            width: 33%;
            border: 1px solid @color_two;
            display: inherit;
            margin-top: 10px;
        }
    }
}

[class*="bg_color"] {
    padding-bottom: 10px;
    padding-top: 10px;
}

.bg_color_one {
    background-color: @color_one;
}

.bg_color_two {
    background-color: @color_two;
}

.bg_color_three {
    background-color: @color_three;
}

.bg_color_four {
    background-color: @color_four;
}

.bg_color_five {
    background-color: @color_five;
}

.bg_color_six {
    background-color: @color_six;
}

.contact input {
    margin-bottom: 10px;
}

#trigger-lateral-menu {
    .box-shadow(none);
    background-color: transparent;
    border: none;
    z-index: 4;
    margin-top: 15px;

    .icon-bar {
        display: block;
        width: 18px;
        height: 2px;
    }

    span {
        background-color: @color_two;
    }

    &:hover, &:focus {
        background-color: transparent;
    }
}

#lateral-menu {
    .box-sizing(border-box);
    color: @color_seven;
    display: none;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    right: 0;
    top: 0;

    &.span4 {
        width: 370px;
    }

    a {
        color: @color_seven;
    }

    .moduletable {
        h3 {
            margin: 0px 0px 10px 0px;

            &:after {
                content: '';
                height: 2px;
                width: 33%;
                border: 1px solid @color_two;
                display: inherit;
                margin-top: 10px;
            }
        }
    }

    .nav {
        > li {
            > a {
                font-family: @serifFontFamily;
                color: @color_seven;
                font-size: @baseFontSize + 6;
                border-bottom: 1px solid @lateralMenuLinkBorder;
                padding-bottom: 12px;
                padding-top: 12px;

                &:hover, &:focus{
                    background-color: @lateralMenuLinkBackgroundHover;
                    color: @color_seven;
                }
            }

            > .dropdown-toggle {
                .caret {
                    border-top-color: @color_seven;
                }

                &:hover, &:focus{
                    .caret {
                        border-top-color: @color_seven;
                    }
                }
            }

            &.active {
                > a {
                    background-color: @lateralMenuLinkBackgroundHover;
                    color: @color_seven;

                    &:hover, &:focus{
                        color: @color_seven;
                    }
                }
                > .dropdown-toggle {
                    .caret {
                        border-top-color: @color_seven;
                    }
                    &:hover, &:focus{
                        .caret {
                            border-top-color: @color_seven;
                        }
                    }
                }
            }
        }
        // General Submenus (only vertical menus)
        ul.submenu {
            > li {
                > a {
                    font-size: @baseFontSize + 4;
                    font-weight: 300;
                    color: @color_seven;

                    .caret {
                        border-top-color: @color_seven;
                    }
                    &:hover, &:focus{
                        color: @inputBorder;
                        .caret {
                            border-top-color: @inputBorder;
                        }
                    }
                }
                &.active {
                    > a {
                        color: @inputBorder;
                        .caret {
                            border-top-color: @inputBorder;
                        }
                        &:hover, &:focus{
                            color: @inputBorder;
                            .caret {
                                border-top-color: @inputBorder;
                            }
                        }
                    }
                }
            }
        }
    }
}

.relative {
    position: relative;
}

.pull-none {
    float: none;
}

.padding-none {
    padding: 0;
}

.clear {
    clear: both;
}

.full-height{
    height: 100%;
    width: auto !important;
    max-width: none !important;
}
.full-width{
    height: auto;
    width: 100%;
}

#featured {
    color: @color_five;
    margin-bottom: 30px;
    padding: 70px 110px;
    position: relative;
    text-align: right;

    h1 {
        font-size: 40px;
        text-decoration: underline;
    }

    .btn {
        background-color: transparent;
        border-color: @color_five;
        color: @color_five;
        font-weight: 300;

        &:hover, &:focus {
            background-color: @color_five;
            color: @textColor;
        }
    }

    .btn-large {
        border-width: 2px;
        font-size: 24px;
        padding: 8px 50px;
    }

    [class*="module"]:last-child {
        margin-bottom: 0;
    }
}

.container-fluid {
    #featured {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.bg-wrapp{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .bg-wrapp-inner{
        opacity: .9;
        height: 100%;
        overflow: hidden;
        position: relative;
        width: 100%;

        #bg-header{
            display: block;
            left: 0;
            position: absolute;
            top: 0;
        }

    }

    ~ * {
        position: relative;
        z-index: 2;
    }
}

body {
    .icon-portfolio,
    .icon-easy-setup,
    .icon-payper-click-setup,
    .icon-social-connect {
        .center-block();
        background-repeat: no-repeat;
        height: 59px;

        + [class*="newsflash-title"] {
            .transition(all ease-in .2s);
            text-align: center;
        }
    }

    .icon-portfolio {
        background-image: url(../images/portfolio.png);
        width: 61px;
    }

    .icon-easy-setup {
        background-image: url(../images/easy-setup.png);
        width: 60px;
    }

    .icon-payper-click-setup {
        background-image: url(../images/payper-click-setup.png);
        width: 57px;
    }

    .icon-social-connect {
        background-image: url(../images/social-connect.png);
        width: 43px;
    }
}

[class*="newsflash-title"] {
    font-weight: 300;
    font-size: 22px;
    font-family: @sansFontFamily;

    .page-header {
        margin: 0;
        border: 0;
        padding-bottom: 0;
    }
}
[class*="newsflash"] {
    [class*="span"]:hover {
        .icon-portfolio,
        .icon-easy-setup,
        .icon-payper-click-setup,
        .icon-social-connect {
            + [class*="newsflash-title"] {
                color: @color_two;
            }
        }
    }

    .article-separator {
        display: none;
    }
}

// Shackslides 3

.jss-slider .jss-title {
    color: @color_five;

    h2 {
        font-size: 35px;
    }
}

.jss-slider .jss-description {
    background-color: @color_five;
    color: @textColor;

    h2 {
        small {
            color: @textColor;
            display: block;
            font-size: @baseFontSize + 2;
            font-style: italic;
            line-height: @baseFontSize + 2;
            margin-top: 10px;
        }
    }
}

div {
    .jss-slider .owl-carousel .jss-title-description h2,
    .jss-slider .owl-carousel .jss-title-description p {
        margin-bottom: 10px;
    }

    .jss-slider .owl-carousel .jss-title-description .jss-title > * {
        -ms-align-self: auto;
        align-self: auto;
    }
    .jss-slider .jss-navigation .jss-navigation-buttons {
        bottom: 50px;
        top: auto;
    }
}

.jss-slider .owl-carousel .jss-image .jss-title-description.jss-alignment-left,
.jss-slider .owl-carousel .jss-title-description.jss-alignment-left,
.jss-slider .owl-carousel .jss-image .jss-title-description.jss-alignment-right,
.jss-slider .owl-carousel .jss-title-description.jss-alignment-right {
    flex-direction: row;
}

#featured div, #grid-top div, #grid-top2 div {
    .jss-slider .jss-title-description .jss-description {
        padding-left: 60px;
        padding-right: 60px;
    }

    .jss-slider .jss-title-description .jss-title {
        align-self: flex-start;
        height: 50%;
    }

    .jss-slider .owl-carousel .jss-image .jss-title-description.jss-alignment-left,
    .jss-slider .owl-carousel .jss-title-description.jss-alignment-left,
    .jss-slider .owl-carousel .jss-image .jss-title-description.jss-alignment-right,
    .jss-slider .owl-carousel .jss-title-description.jss-alignment-right {
        .jss-title {
            margin: 0;
        }
    }

    .jss-slider .jss-navigation .jss-navigation-buttons .owl-prev,
    .jss-slider .jss-navigation .jss-navigation-buttons .owl-next {
        .btn;
        background-color: transparent;
        border: 3px solid @bodyBackground;
        color: @bodyBackground;
        font-size: 24px;
        font-weight: 300;
        padding: 8px 60px;
        position: relative;
        text-indent: 0;

        &:hover, &:focus {
            background-color: @color_two;
            border-color: @color_two;
            color: @bodyBackground;
        }

    }

    .jss-slider .jss-navigation .jss-navigation-buttons .owl-next {
        &:before {
            content: 'next >';
            height: 25px;
            left: 23px;
            top: 4px;
            position: absolute;
            width: 73px;
        }
    }

    .jss-slider .jss-navigation .jss-navigation-buttons .owl-prev {
        &:before {
            content: '< prev';
            height: 25px;
            left: 23px;
            top: 4px;
            position: absolute;
            width: 73px;
        }
    }
}



