
@media (max-width: 979px) {
    .navbar {
        .navbar-inner {
            .nav, &.nav {
                > li {
                    > a {
                        &:hover, &:focus {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &:hover, &:focus {
                        a {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &.active {
                        a {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &.deeper {
                        .dropdown-menu {
                            margin: 0;
                            > li {
                                > a {
                                    color: @color_three;
                                    padding: 9px 15px 9px 25px;
                                    &:hover, &:focus {
                                        color: @white;
                                        background-color: @color_two;
                                    }
                                }
                                &.current {
                                    > a {
                                        background-color: @color_two;
                                        color: @white;
                                    }
                                }
                            }
                        }
                        &:hover, &:focus {
                            > a {
                                &:after {
                                    content: '\f107';
                                }
                            }
                        }
                    }
                }
            }
        }
        &.navbar-inverse {
            .navbar-inner {
                .nav, &.nav {
                    > li {
                        > a {
                            &:hover, &:focus {
                                background-color: @color_two;
                            }
                        }
                        &.deeper {
                            .dropdown-menu {
                                > li {
                                    > a {
                                        color: @white;
                                    }
                                    &.deeper {
                                        > a {
                                            &:after {
                                                content: '\f107';
                                            }
                                        }
                                    }
                                    &:hover, &:focus {
                                        > a {
                                            background-color: @color_two;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    #header {
        #logo {
            margin-bottom: 20px;
        }
    }
    .navbar {
        .navbar-inner {
            .nav, &.nav {
                > li {
                    > a {
                        &:hover, &:focus {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &:hover, &:focus {
                        a {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &.active {
                        a {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &.deeper {
                        .dropdown-menu {
                            margin: 0;
                            > li {
                                > a {
                                    color: @color_three;
                                    padding: 9px 15px 9px 25px;
                                    &:hover, &:focus {
                                        color: @white;
                                        background-color: @color_two;
                                    }
                                }
                                &.current {
                                    > a {
                                        background-color: @color_two;
                                        color: @white;
                                    }
                                }
                            }
                        }
                        &:hover, &:focus {
                            > a {
                                &:after {
                                    content: '\f107';
                                }
                            }
                        }
                    }
                }
            }
        }
        &.navbar-inverse {
            .navbar-inner {
                .nav, &.nav {
                    > li {
                        > a {
                            &:hover, &:focus {
                                background-color: @color_two;
                            }
                        }
                        &.deeper {
                            .dropdown-menu {
                                > li {
                                    > a {
                                        color: @white;
                                    }
                                    &.deeper {
                                        > a {
                                            &:after {
                                                content: '\f107';
                                            }
                                        }
                                    }
                                    &:hover, &:focus {
                                        > a {
                                            background-color: @color_two;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-tabs {
        margin: 20px 0px;
        >li {
            &:last-child {
                > a {
                    border-bottom: none;
                }
            }
        }
    }

    .blog {
        .row-fluid [class*="span"] {
            width: 100%;
        }
    }
}
