#container-unlimited {
    .core (@gridColumnWidth, @gridGutterWidth) {
        .span (@columns) {
          width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
        }

        .blog > .category-desc { .span(@gridColumns); }
        .blog > .page-header { .span(@gridColumns); }
        #nav-toolbar { .span(@gridColumns); }

        .blog > .page-header,
        .blog > .category-desc {
            margin-left: auto;
            margin-right: auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media (min-width: 1200px) {
    #featured div, #grid-top div, #grid-top2 div {
        .jss-slider .jss-title-description .jss-description {
            width: 779px;
        }
        .jss-slider .jss-title-description .jss-title {
            width: 1170px - 779px;
        }
    }

    .mode-container {
        #container-unlimited > .core(97.5px, 0);

        .blog, .blog-featured {
            .container-items {
                > div {
                    #grid > .core(97.5px, 0);
                }
            }
        }
    }

    .blog > .page-header,
    .blog > .category-desc,
    .container {
        .box-sizing(border-box);
        padding-left: 0;
        padding-right: 0;
    }

    .container {
        .jss-slider {
            margin-left: 0;
            margin-right: 0;
        }
    }

    #footer {
        .footer-content {
            padding: 10px 0;
        }
    }

    .container-main {
        padding: 0;
    }

}

@media (min-width: 768px) and (max-width: 979px) {
    .wrapper-toolbar {
        .navbar .container {
            width: 724px;
            position: relative;
        }
    }

    .jss-slider .owl-carousel .jss-image .jss-image-int {
        background-size: 85% auto !important;
    }

}

@media (max-width: 979px) {

    #container-unlimited > .core(@fluidGridColumnWidth, 0);

    #grid > .core(@fluidGridColumnWidth, @fluidGridGutterWidth);

	.row {
		margin-left: 0;
	}

    .blog > .page-header,
    .blog > .category-desc,
    .container {width: auto;}


    .blog .items-row .item .article-content > h2,
    .blog-featured .items-row .item .article-content > h2 {
        font-size: 30px;
    }

    .navbar {
        .navbar-inner {
            .nav-collapse {
                .nav, &.nav {
                    > li {
                        > a {
                            &:hover, &:focus {
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                        &:hover, &:focus {
                            a {
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                        &.active {
                            a {
                                border-radius: 0;
                                -webkit-border-radius: 0;
                            }
                        }
                        &.deeper {
                            &:hover, &:focus {
                                > a {
                                    &:after {
                                        content: '\f107';
                                    }
                                }
                            }
                        }

                        .dropdown-menu {
                            background-color: darken(@color_two,20%);
                            > li{
                                > a {
                                    &:hover, &:focus {
                                        background-color: darken(@color_two,25%);
                                    }
                                }
                            }

                            > .active {
                                > a {
                                    background-color: darken(@color_two,25%);
                                    &:hover, &:focus {
                                        background-color: darken(@color_two,25%);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-collapse {
		.nav > li > a:hover,
		.nav > li > a:focus,
		.dropdown-menu a:hover,
		.dropdown-menu a:focus {
			background-color: @navbarLinkBackgroundHover;
		}

        .dropdown-menu {
            margin-left: 0;
            margin-right: 0;

            > li{
                > a {
                    color: @white;

                    [class^="icon-"], [class*=" icon-"] {
                        color: @white;
                    }

                    &:hover, &:focus {
                        color: @white;

                        [class^="icon-"], [class*=" icon-"] {
                            color: @white;
                        }
                    }
                }
            }
        }
    }

	.btn-navbar {
		padding: 0;
	}

    #featured div, #grid-top div, #grid-top2 div {
        .jss-slider .jss-title-description {
            .jss-description {
                width: 67%;

                > div {
                    padding: 10px 20px;
                }

                h1, h2, h3, h4, h5, h6 {
                    font-size: 17px;
                    small {
                        font-size: @baseFontSize - 1;
                    }
                }

                p  {
                    font-size: @baseFontSize - 2;
                }
            }
        }

        .jss-slider .jss-title-description .jss-title {
            width: 33%;

            h1, h2, h3, h4, h5, h6 {
                font-size: 17px;
            }
        }
    }
    .wrapper-toolbar{
        .navbar .btn-navbar{
            width: 28px;
            z-index: 4;
        }

        #toolbar .navbar-inner .collapsedToolbarInner {
            height: auto !important;
            overflow: inherit;
        }

        .wrappToolbar .wrapper-toolbar {
            height: auto !important;
        }
    }

    .wrappToolbar.collapsedToolbarEnable {
        .navbar-inner{
            background-color: @color_two;
        }
    }

}
@media (max-width: 767px) {

    #bg-header .full-width {
        height: 100%;
        width: auto !important;
        max-width: none !important;
    }

    #featured {
        h1 {
          font-size: 28px;
          box-decoration-break: clone;
          box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
          line-height: 40px;
          background: rgba(0, 0, 0, 0.5);
        }

        .btn-large{
            color: @color_two;
            background: @color_five;
        }
    }

    .blog .article-image-bottom,
    .blog-featured .article-image-bottom {
        display: inherit;
    }

    .blog .article-image-top,
    .blog-featured .article-image-top {
        display: none;
    }

    .blog, .blog-featured {
        .cols-3 {
            .column-2, .column-5, .column-8, .column-11, .column-14, .column-17,
            .column-20, .column-23, .column-26, .column-29, .column-32, .column-35 {
                .article-content {
                    min-height: inherit;
                }
            }
        }
    }

    .text-center-medium {
        text-align: center;
    }

    .jss-slider {
        .owl-carousel .jss-image .jss-image-int {
            background-size: auto auto !important;
        }

        .jss-navigation .jss-navigation-buttons [class*="owl-"] {
            border-color: @color_two !important;
            color: @color_two !important;
            &:hover, &:focus {
                color: @color_seven !important;
            }
        }

        .owl-carousel .owl-item .jss-image {
            height: 600px !important;
        }
    }

    #header {
        #logo {
            max-width: 250px;
        }
    }
    .navbar {
        .navbar-inner {
            .nav, &.nav {
                > li {
                    > a {
                        &:hover, &:focus {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &:hover, &:focus {
                        a {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &.active {
                        a {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                        }
                    }
                    &.deeper {
                        .dropdown-menu {
                            margin: 0;
                            > li {
                                > a {
                                    padding: 9px 15px 9px 25px;
                                    &:hover, &:focus {
                                        color: @white;
                                    }
                                }
                                &.current {
                                    > a {
                                        color: @white;
                                    }
                                }
                            }
                        }
                        &:hover, &:focus {
                            > a {
                                &:after {
                                    content: '\f107';
                                }
                            }
                        }
                    }
                }
            }
        }
        &.navbar-inverse {
            .navbar-inner {
                .nav, &.nav {
                    > li {
                        > a {
                            &:hover, &:focus {
                                background-color: @color_two;
                            }
                        }
                        &.deeper {
                            .dropdown-menu {
                                > li {
                                    > a {
                                        color: @white;
                                    }
                                    &.deeper {
                                        > a {
                                            &:after {
                                                content: '\f107';
                                            }
                                        }
                                    }
                                    &:hover, &:focus {
                                        > a {
                                            background-color: @color_two;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-tabs {
        margin: 20px 0px;
        >li {
            &:last-child {
                > a {
                    border-bottom: none;
                }
            }
        }
    }

    #lateral-menu {
        &.span4 {
            width: 310px;
        }
    }

    body {
        padding: 0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
    }

    #footer {
        margin-left: 0;
        margin-right: 0;

        [class*="bg_color"] {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    #main,
    #featured [class*="module"],
    #grid-bottom, {
        padding-left: 20px;
        padding-right: 20px;
    }

	.jss-slider .owl-carousel .jss-image .jss-title-description.jss-alignment-left,
	.jss-slider .owl-carousel .jss-title-description.jss-alignment-left,
	.jss-slider .owl-carousel .jss-image .jss-title-description.jss-alignment-right,
	.jss-slider .owl-carousel .jss-title-description.jss-alignment-right {
		flex-direction: column;
		text-align: left;
	}

    #featured div, #grid-top div, #grid-top2 div {
        .jss-slider .jss-title-description {
			.jss-title {
				height: auto;
				width: auto;

                h1, h2, h3 {
                  font-size: 28px;
                }

                h4, h5, h6 {
                  font-size: 17px;
                }
			}

            .jss-description {
				align-self: flex-end;
				height: auto;
                width: auto;
				padding: 0 0 50px;

                > div {
                    padding: 30px;
                }

                h1, h2, h3, h4, h5, h6 {
                    font-size: 17px;
                    small {
                        font-size: @baseFontSize - 1;
                    }
                }

                p  {
                    font-size: @baseFontSize - 2;
                }
            }
        }
    }

    .wrapper-toolbar{
        .navbar .btn-navbar{
            padding-left: 1px;
            padding-right: 1px;
        }
    }
    .mobile-text-center {
        text-align: center;
    }

    .mobile-text-left {
        text-align: left;
    }
    .mobile-text-right {
        text-align: right;
    }
    .mobile-padding-box-large {
        padding-left: 30px;
        padding-right: 30px;
    }
    .mobile-padding-box {
        padding: 15px;
    }
    .mobile-padding-small {
        padding: 5px;
    }

	.blog {
		.row-fluid [class*="span"] {
			width: 100%;
		}
	}

    .blog,
    .blog-featured {
        > .row , > .row-fluid, .container-items > div {
            display: block;
            > [class*="span"]{
                border-bottom: 1px solid @color_three;
                border-left: 0;
                float: none;
                margin-bottom: 0;
                width: 100%;

                &:last-of-type{
                    border-bottom: 0;
                }
            }
        }
    }

    .category, .featured {
        #breadcrumbs { padding: 10px 0; }

        .blog .items-leading,
        .blog-featured .items-leading {padding-top: 20px;}

    }

    #sidebar1, #sidebar1 {
        padding-left: 20px;
        padding-right: 20px;
    }

	#lateral-menu  {
		.nav {
			> li > a {
				font-size: @baseFontSize + 4;
			}

			ul.submenu>li>a {
				font-size: @baseFontSize + 2;
			}
		}

	}
}
